<!--The content below is only a placeholder and can be replaced.-->
<!-- toolbar -->
  <mat-toolbar color="primary">
    Welcome to {{ title }}!
  </mat-toolbar>

  <!-- navigation list for all categories. values for category are based on category-values.ts file.
  Icon from angular material. -->
 <mat-nav-list>
    <mat-list-item *ngFor="let cat of categories"> 
        <mat-icon>security</mat-icon>
        &nbsp;
      {{cat.name}}
    </mat-list-item>
  </mat-nav-list>

<!-- Optional code for list-->
 <!-- <mat-action-list>
    <button (click)="save()"> Save </button>
    <button (click)="undo()"> Undo </button>
  </mat-action-list> -->

    <!-- <mat-list color="primary">
      <li *ngFor="let cat of categories" > {{ cat.name }} </li>
 </mat-list> -->

 <!-- <mat-list-item *ngFor="let cat of categories"> {{ cat.name }} </mat-list-item> -->

