<!--The content below is only a placeholder and can be replaced.-->
<!-- toolbar -->
<mat-toolbar color="accent">
  Welcome to {{ title }}!
</mat-toolbar>

<!-- navigation list for all categories. values for category are based on category-values.ts file.
  Icon from angular material. -->
<mat-nav-list>
  <mat-list-item *ngFor="let cat of categories" (click)="getData(cat)">
    <mat-icon>security</mat-icon>
    &nbsp;
    {{cat.name}}
  </mat-list-item>
</mat-nav-list>

<p *ngIf="films">
  <mat-list-item *ngFor="let film of films" (click)="populateDetail(film)">
    <mat-icon>check_circle_outline</mat-icon>
    &nbsp;
    {{film}}
  </mat-list-item>
</p>

<!-- Detail Component -->
<app-detail [details]=details> </app-detail>